/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */

// Стили для файла с примером HTML-фрагмента
// @import './example';
@import './utils/variables';
@import './base/reset';
@import './base/common';
@import './components/container';
@import './components/fonts';
@import './layout/about';
@import './layout/advantages';
@import './layout/contacts';
@import './layout/customer-reviews';
@import './layout/footer';
@import './layout/gallery';
@import './layout/header';
@import './layout/hero';
@import './layout/products';