:root {
  --primary-text-color: #000000;
  --pre-title-color: #ffffff;
  --title-text-color: #907e82;
  --accent-primary-color: #ffa5ba;
  --accent-secondary-color: #d41443;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #fff5f6;
  --accent-bg-color: #ffb8ca;
  --button-bg-hover: #ecebeb;
}
