<section class="about">
  <div class="container">
    <p class="about-pre-title">tradition and love</p>
    <h2 class="about-title">how it’s made?</h2>
    <div class="about-common">
      <picture>
        <source
          srcset="./images/home-pic/home-pic4-1x.png 1x, ./images/home-pic/home-pic4-2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/home-pic/home-pic4-tablet-1x.png 1x,
            ./images/home-pic/home-pic4-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/home-pic/home-pic4-mobile-1x.png 1x,
            ./images/home-pic/home-pic4-mobile-2x.png 2x
          "
          media="(min-width: 480px)"
        />
        <img
          class="about-img"
          src="./images/home-pic/home-pic4-mobile-1x.png"
          alt="Корово с молоком"
        />
      </picture>
      <div class="about-right">
        <p class="about-text-first">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-text-second">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt. <br />
          <br />
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button" class="about-button btn">
          Read more
          <svg class="about-btn-icon" width="15px" height="12px">
            <use href="./images/sprite.svg#icon-arrow-btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
