<section class="advantages wow animate__fadeInLeftBig">
    <div class="container">
        <h2 class="advantages-title">Our advantages</h2>
        <ul class="advantages-list">
            <li class="advantages-items-item-milk-bucket">
                <p class="advantages-numbers">721</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-items-item-fruits-basket">
                <p class="advantages-numbers">16kg</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages-items-item-lollipop">
                <p class="advantages-numbers">84</p>
                <p class="advantages-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>