<section class="section contacts-section">
    <div class="container contacts-container">
        <h2 class="contacts-title_hidden" hidden>Контакты</h2>
            <ul class="contacts-list list">
                <li class="contacts-list__item item">
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__address item"> <p class="contacts-list__title">CAFE</p></li>
                        <li class="contacts-item__address item"><p class="contacts-list__city">Chicago</p></li>
                        <li class="contacts-item__address item"><p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p></li>
                    </ul>
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Monday - Friday</p>
                            <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Saturday - Sunday</p>
                            <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="list-contacts__list list">
                        <li class="contacts-list__contacts item"><a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766 284</a></li>
                        <li class="contacts-list__contacts item"><a href="mailto:noreply@envato.com" class="contacts-list__link link">noreply@envato.com</a></li>
                    </ul>
                </li>
                <li class="contacts-list__item item">
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__address item">
                            <p class="contacts-list__title contacts-list__title-green">FOODTRUCK</p>
                        </li>
                        <li class="contacts-item__address item">
                            <p class="contacts-list__city">Los Angeles</p>
                        </li>
                        <li class="contacts-item__address item">
                            <p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Monday - Friday</p>
                            <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Saturday - Sunday</p>
                            <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="list-contacts__list list">
                        <li class="contacts-list__contacts item"><a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766 284</a></li>
                        <li class="contacts-list__contacts item"><a href="mailto:noreply@envato.com" class="contacts-list__link link">noreply@envato.com</a></li>
                    </ul>
                </li>
                <li class="contacts-list__item item">
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__address item">
                            <p class="contacts-list__title">CAFE</p>
                        </li>
                        <li class="contacts-item__address item">
                            <p class="contacts-list__city">New York</p>
                        </li>
                        <li class="contacts-item__address item">
                            <p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                        </li>
                    </ul>
                    <ul class="contacts-list__list list">
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Monday - Friday</p>
                            <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contacts-item__work item">
                            <p class="contacts-list__days">Saturday - Sunday</p>
                            <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="list-contacts__list list">
                        <li class="contacts-list__contacts item"><a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766
                                284</a></li>
                        <li class="contacts-list__contacts item"><a href="mailto:noreply@envato.com"
                                class="contacts-list__link link">noreply@envato.com</a></li>
                    </ul>
                </li>
            </ul>
            <button class="contacts-btn">Our Locations</button>
            <button class="contacts-btn contacts-btn-second">Franchise</button>
    </div>
</section>