<section class="section contacts-section wow animate__backInRight" id="contacts">
    <div class="container contacts-container">
        <h2 class="contacts-title_hidden" hidden>Контакты</h2>
        <ul class="contacts-list">
            <li class="contacts-list__item item">
                <ul class="contacts-list__list">
                    <li class="contacts-item__address item">
                        <p class="contacts-list__title">CAFE</p>
                    </li>
                    <li class="contacts-item__address item">
                        <p class="contacts-list__city">Chicago</p>
                    </li>
                    <li class="contacts-item__address item">
                        <p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    </li>
                </ul>
                <ul class="contacts-list__list">
                    <li class="contacts-item__work item">
                        <p class="contacts-list__days">Monday - Friday</p>
                        <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
                    </li>
                    <li class="contacts-item__work item">
                        <p class="contacts-list__days">Saturday - Sunday</p>
                        <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
                    </li>
                </ul>
                <ul class="list-contacts__list">
                    <li class="contacts-list__contacts item">
                        <a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__contacts item">
                        <a href="mailto:noreply@envato.com" class="contacts-list__link link">noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item item">
        <ul class="contacts-list__list">
          <li class="contacts-item__address item">
            <p class="contacts-list__title contacts-list__title-green">FOODTRUCK</p>
          </li>
          <li class="contacts-item__address item">
            <p class="contacts-list__city">Los Angeles</p>
          </li>
          <li class="contacts-item__address item">
            <p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
        </ul>
        <ul class="contacts-list__list">
          <li class="contacts-item__work item">
            <p class="contacts-list__days">Monday - Friday</p>
            <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-item__work item">
            <p class="contacts-list__days">Saturday - Sunday</p>
            <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list-contacts__list">
          <li class="contacts-list__contacts item">
            <a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__contacts item">
                        <a href="mailto:noreply@envato.com" class="contacts-list__link link">noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
      <li class="contacts-list__item item">
        <ul class="contacts-list__list">
          <li class="contacts-item__address item">
            <p class="contacts-list__title">CAFE</p>
          </li>
          <li class="contacts-item__address item">
            <p class="contacts-list__city">New York</p>
          </li>
          <li class="contacts-item__address item">
            <p class="conacts-list__texx">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </li>
        </ul>
        <ul class="contacts-list__list">
          <li class="contacts-item__work item">
            <p class="contacts-list__days">Monday - Friday</p>
            <p class="contacts-list__hours">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts-item__work item">
            <p class="contacts-list__days">Saturday - Sunday</p>
            <p class="contacts-list__hours">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <ul class="list-contacts__list">
          <li class="contacts-list__contacts item">
            <a href="tel:+61(0)383766284" class="contacts-list__link link">+61(0) 383 766 284</a>
                    </li>
                    <li class="contacts-list__contacts item">
                        <a href="mailto:noreply@envato.com" class="contacts-list__link link">noreply@envato.com</a
            >
          </li>
        </ul>
      </li>
    </ul>
    <div class="contacts-button-box">
      <button class="contacts-btn contacts-btn-first" data-location-modal-open>
        <span class="contacts-button-text">Our Locations</span>
        <span
          ><svg class="contacts-btn-icon" width="6px" height="10px">
            <use href="./images/sprite.svg#icon-arrow-btn"></use></svg
        ></span>
      </button>

      <button class="contacts-btn contacts-btn-second" data-franshize-open>
        <span class="contacts-button-text">Franchise</span>
        <span
          ><svg class="contacts-btn-icon-second" width="6px" height="10px">
            <use href="./images/sprite.svg#icon-arrow-btn"></use></svg></span>
      </button>
    </div>
  </div>
</section>
  <div class="location-backdrop is-hidden" data-location-modal id="location">
    <div class="location-modal">
      <p class="location-modal__title">Location</p>
      <button class="location-modal__btn-close" data-location-modal-close>
        <svg class="location-modal__icon" width="6px" height="10px">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <div class="location-modal__map-box">
        <iframe
          class="location-modal__map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.651839447461!2d30.51983701573132!3d50.44758537947498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce56b2456d3b%3A0xd062ae171b57e947!2z0YPQuy4g0JrRgNC10YnQsNGC0LjQuiwg0JrQuNC10LIsIDAyMDAw!5e0!3m2!1sru!2sua!4v1637924976565!5m2!1sru!2sua"
          width="400"
          height="300"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </div>
    </div>
  </div>
  <div data-franshize class="franshize-backdrop is-hidden" id="franshize">
    <div class="modal-franshize">
      <button data-franshize-close class="close-btn">
        <svg class="close-btn-icon">
          <use href="./images/sprite.svg#icon-Vector-7"></use>
        </svg>
      </button>
      <p class="modal-tittle">Leave your contacts.We'll contact you!</p>
      <form class="modal-form">
        <label class="modal-label">Name
          <input type="text" class="modal-input" />
          <svg class="modal-input-icon">
            <use href="./images/sprite.svg#icon-user"></use>
          </svg>
        </label>
  
        <label class="modal-label">Mobile
          <input type="tel" class="modal-input" />
          <svg class="modal-input-icon">
            <use href="./images/sprite.svg#icon-mail"></use>
          </svg></label>
  
        <label class="modal-label">E-mail
          <input type="email" class="modal-input" />
          <svg class="modal-input-icon">
            <use href="./images/sprite.svg#icon-Vector-9"></use>
          </svg>
        </label>
        <label class="modal-label">Comment
          <textarea class="modal-text" placeholder="Leave your comment here"></textarea>
        </label>
      </form>
      <button class="btn submit-btn" type="submit">Send</button>
    </div>
  </div>
  <script src="./js/location.js"></script>
  <script src="./js/franshize.js"></script>
