<section class="section customer-reviews__section" id="aboutus">
    <div class="container">
        <h2 class="visually-hidden">Customer-reviews</h2>
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <picture class="customer-reviews__image">
                        <source srcset="./images/testimonials1-1x.png 1x, ./images/testimonials1-2x.png 2x" media="(min-width: 320px)" />
                        <img src="./images/testimonials1-1x.png" alt="Ice-cream-violet" width="85px" height="85px" /></picture>
                    <div class="slider">
                        <div class="slider-text-wrapper">
                            <p class="customer-reviews__text slider-text">
                                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                            </p>
                        </div>
                    </div>
                    <span class="ice"> &#9825; &#9825; &#9825; </span>
                    <p>Tampa, Florida</p>
                </div>
                <div class="swiper-slide">
                    <picture class="customer-reviews__image">
                        <source srcset="./images/testimonials2-1x.png 1x, ./images/testimonials2-2x.png 2x" media="(min-width: 320px)" />
                        <img src="./images/testimonials2-1x.png" alt="Ice-cream-violet" width="" /></picture>
                    <div class="slider">
                        <div class="slider-text-wrapper">
                            <p class="customer-reviews__text slider-text">
                                Nuper factus est glacies cremor. Locus optimus est ut glacies cremor in kharghar. Qualitas bona et pretium pretium est . Spero pretium non auget.
                            </p>
                        </div>
                    </div>
                    <span class="ice"> &#9825; &#9825; &#9825; </span>
                    <p class="customer-reviews__title">Emily, Los Angeles</p>
                </div>
                <div class="swiper-slide">
                    <picture class="customer-reviews__image">
                        <source srcset="./images/testimonials3-1x.png 1x, ./images/testimonials3-2x.png 2x" media="(min-width: 320px)" />
                        <img src="./images/testimonials3-1x.png" alt="Ice-cream-violet" width="" /></picture>
                    <div class="slider">
                        <div class="slider-text-wrapper">
                            <p class="customer-reviews__text slider-text">
                                Creams sunt recentes et vere sapidum. Comis baculus nimis. In ordine saporum, peculiaria temporum sunt optima...
                            </p>
                        </div>
                    </div>
                    <span class="ice"> &#9825; &#9825; &#9825; </span>
                    <p>Cary, North Carolina</p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->
    </div>
</section>