<section class="section customer-reviews__section">
  <div class="container">
    <h2 class="visually-hidden">Customer-reviews</h2>
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture class="customer-reviews__image">
            <source
              srcset="./images/testimonials1-1x.png 1x, ./images/testimonials1-2x.png 2x"
              media="(min-width: 320px)" />
            <img
              src="./images/testimonials1-1x.png"
              alt="Ice-cream-violet"
              width="85px"
              height="85px"
          /></picture>
          <p class="customer-reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <div class="swiper-slide">
          <picture>
            <source
              srcset="./images/testimonials2-1x.png 1x, ./images/testimonials2-2x.png 2x"
              media="(min-width: 320px)" />
            <img src="./images/testimonials2-1x.png" alt="Ice-cream-violet" width=""
          /></picture>
          <p>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
          <p class="customer-reviews__title">Emily, Los Angeles</p>
        </div>
        <div class="swiper-slide">
          <picture class="customer-reviews__image">
            <source
              srcset="./images/testimonials3-1x.png 1x, ./images/testimonials3-2x.png 2x"
              media="(min-width: 320px)" />
            <img src="./images/testimonials3-1x.png" alt="Ice-cream-violet" width=""
          /></picture>
          <p>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
  </div>
</section>
