<footer>
    <div class="container wow animate__fadeInLeftBig bottom">
        <div class="heading">
            <div class="left">
                <p class="footer-pre-title">
                    homemade ice cream<br /> made
                </p>
                <p class="footer-title">
                    with<br /> passion
                </p>
            </div>
            <div class="right">
                <ul class="footer-list">
                    <li class="social-item">
                        <a class="socials-link" href="https://github.com/" target="_blank">
                            <svg class="social-icon" width="19" height="19">
                <use href="./images/sprite.svg#icon-github"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a class="socials-link" href="https://telegram.org/" target="_blank">
              <svg class="social-icon" width="19" height="15">
                <use href="./images/sprite.svg#icon-telegram"></use></svg
            ></a>
          </li>
          <li class="social-item">
            <a class="socials-link" href="https://www.facebook.com/" target="_blank">
              <svg class="social-icon" width="9" height="19">
                <use href="./images/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
        </ul>
        <div class="footer-tel">
          <p class="tel-subtitle">Feel free to contact</p>
          <a class="tel-item" href="tel:+610383766284">+61 (0) 383 766 284</a>
        </div>
      </div>
    </div>
  </div>
  <div class="icecream">
    <p class="ice-subtitle">&#169;2019 - IceCream.</p>
    <p class="ice-subtitle">All Rights Reserved.</p>
  </div>

  <span></span>
</footer>