<section class="section gallery__section">
  <div class="container">
    <ul class="list">
      <li class="item gallery__item-first">
        <div class="gallery__image">
          <picture class="image">
            <source
              srcset="./images/gallery/gallery1-1x.jpg 1x, ./images/gallery/gallery1-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery1-tablet-1x.jpg 1x,
                ./images/gallery/gallery1-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery1-mobile-1x.jpg 1x,
                ./images/gallery/gallery1-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery1-1x.jpg" alt="Ice-cream-violet" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-second">
        <div class="gallery__image">
          <picture>
            <source
              srcset="./images/gallery/gallery2-1x.jpg 1x, ./images/gallery/gallery2-2x.jpg 2x"
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/gallery/gallery2-tablet-1x.jpg 1x,
                ./images/gallery/gallery2-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/gallery/gallery2-mobile-1x.jpg 1x,
                ./images/gallery/gallery2-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img src="./images/gallery/gallery2-1x.jpg" alt="Ice-cream on orange" width="" />
          </picture>
        </div>
      </li>
      <li class="item gallery__item-third">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery3-1x.jpg 1x, ./images/gallery/gallery3-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery3-tablet-1x.jpg 1x,
                ./images/gallery/gallery3-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery3-mobile-1x.jpg 1x,
                ./images/gallery/gallery3-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery3-1x.jpg" alt="Ice-creams rose" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-fouth">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery4-1x.jpg 1x, ./images/gallery/gallery4-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery4-tablet-1x.jpg 1x,
                ./images/gallery/gallery4-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery4-mobile-1x.jpg 1x,
                ./images/gallery/gallery4-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery4-1x.jpg" alt="Ice-creams" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-fifth">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery5-1x.jpg 1x, ./images/gallery/gallery5-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery5-tablet-1x.jpg 1x,
                ./images/gallery/gallery5-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery5-mobile-1x.jpg 1x,
                ./images/gallery/gallery5-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery5-1x.jpg" alt="Ice-creams fly" width=""
          /></picture>
        </div>
      </li>

      <li class="item gallery__item-sixth">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery6-1x.jpg 1x, ./images/gallery/gallery6-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery6-tablet-1x.jpg 1x,
                ./images/gallery/gallery6-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery6-mobile-1x.jpg 1x,
                ./images/gallery/gallery6-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery6-1x.jpg" alt="Icream-white" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-seventh">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery7-1x.jpg 1x, ./images/gallery/gallery7-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery7-tablet-1x.jpg 1x,
                ./images/gallery/gallery7-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery7-mobile-1x.jpg 1x,
                ./images/gallery/gallery7-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery7-1x.jpg" alt="Icream-street" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-eighth">
        <div class="gallery__image">
          <picture class="gallery"
            ><source
              srcset="./images/gallery/gallery8-1x.jpg 1x, ./images/gallery/gallery8-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery8-tablet-1x.jpg 1x,
                ./images/gallery/gallery8-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery8-mobile-1x.jpg 1x,
                ./images/gallery/gallery8-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery8-1x.jpg" alt="Icream-strawberry" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-nineth">
        <div class="gallery__image">
          <picture
            ><source
              srcset="./images/gallery/gallery9-1x.jpg 1x, ./images/gallery/gallery9-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery9-tablet-1x.jpg 1x,
                ./images/gallery/gallery9-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery9-mobile-1x.jpg 1x,
                ./images/gallery/gallery9-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery9-1x.jpg" alt="Icream-coffee" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-tenth">
        <div class="gallery__image">
          <picture>
            <source
              srcset="./images/gallery/gallery10-1x.jpg 1x, ./images/gallery/gallery10-2x.jpg 2x"
              media="(min-width: 1280px)" />
            <source
              srcset="
                ./images/gallery/gallery10-tablet-1x.jpg 1x,
                ./images/gallery/gallery10-tablet-2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                ./images/gallery/gallery10-mobile-1x.jpg 1x,
                ./images/gallery/gallery10-mobile-2x.jpg 2x
              "
              media="(max-width: 767px)" />
            <img src="./images/gallery/gallery10-1x.jpg" alt="Icream-juice" width=""
          /></picture>
        </div>
      </li>
    </ul>
  </div>
</section>
