<section class="section gallery__section">
  <div class="container">
    <ul class="list">
      <li class="item gallery__item-first">
        <div class="image">
          <picture class="image">
            <source
              srcset="./images/gallery/gallery1-1x.jpg 1x, ./images/gallery/gallery1-2x.jpg 2x"
              media="(min-width: 1200px)" />
            <img src="./images/gallery/gallery1-1x.jpg" alt="Icream-violet" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-second">
        <div class="image">
          <picture>
            <source
              srcset="./images/gallery/gallery2-1x.jpg 1x, ./images/gallery/gallery2-2x.jpg 2x"
              media="(min-width: 1200px)"
            />
            <img src="./images/gallery/gallery2-1x.jpg" alt="Icream-violet" width="" />
          </picture>
           </div>
      </li>
      <li class="item gallery__item-third">
        <div class="image">
          <picture
            ><source
              srcset="./images/gallery/gallery3-1x.jpg 1x, ./images/gallery/gallery3-2x.jpg 2x"
              media="(min-width: 1200px)" />
            <img src="./images/gallery/gallery3-1x.jpg" alt="Icream-violet" width=""
          /></picture>
        </div>
      </li>
      <li class="item gallery__item-fouth">
        <div class="image">
        <picture
          ><source
            srcset="./images/gallery/gallery4-1x.jpg 1x, ./images/gallery/gallery4-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery4-1x.jpg" alt="Icream-violet" width=""
        /></picture>
         </div>
      </li>
      <li class="item gallery__item-fifth">
        <div class="image">
        <picture
          ><source
            srcset="./images/gallery/gallery5-1x.jpg 1x, ./images/gallery/gallery5-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery5-1x.jpg" alt="Icream-violet" width=""
        /></picture>
      </li>
      <li class="item gallery__item-sixth">
        <div class="image">
        <picture
          ><source
            srcset="./images/gallery/gallery6-1x.jpg 1x, ./images/gallery/gallery6-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery6-1x.jpg" alt="Icream-violet" width=""
        /></picture>
        </div></li>
      <li class="item gallery__item-seventh ">
        <div class="image">
             <picture
          ><source
            srcset="./images/gallery/gallery7-1x.jpg 1x, ./images/gallery/gallery7-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery7-1x.jpg" alt="Icream-violet" width=""
        /></picture>
      </div></li>
      <li class="item gallery__item-eighth ">
        <div class="image">
        <picture class="gallery"
          ><source
            srcset="./images/gallery/gallery8-1x.jpg 1x, ./images/gallery/gallery8-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery8-1x.jpg" alt="Icream-violet" width=""
        /></picture> 
        </div></li>
      <li class="item gallery__item-nineth ">
        <div class="image">
        <picture
          ><source
            srcset="./images/gallery/gallery9-1x.jpg 1x, ./images/gallery/gallery9-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery9-1x.jpg" alt="Icream-violet" width=""
        /></picture>
      </div></li>
      <li class="item gallery__item-tenth ">
        <div class="image">
          <picture>
          <source
            srcset="./images/gallery/gallery10-1x.jpg 1x, ./images/gallery/gallery10-2x.jpg 2x"
            media="(min-width: 1200px)" />
          <img src="./images/gallery/gallery10-1x.jpg" alt="Icream-violet" width=""
        /></picture></div>
        </li>
    </ul>
  </div>
</section>
