<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="logo">
      <img
        srcset="./images/logo-1x.png 200w, ./images/logo-2x.png 740w"
        sizes="(min-width: 1200px)200px, (min-width: 768px) 200px, (min-width: 480px) 200px, 100vw"
        src="./images/logo-2x.png"
        alt="logo"
      />
    </a>
    <nav>
      <ul class="nav-list">
        <li class="nav-item"><a href="" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="" class="nav-link">About us</a></li>
        <li class="nav-item"><a href="" class="nav-link">How it’s made?</a></li>
        <li class="nav-item"><a href="" class="nav-link">Our products</a></li>
        <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
      </ul>
    </nav>
    <button class="menu-open js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
      <svg class="icon-open">
        <use href="./images/sprite.svg#icon-Burger1"></use>
      </svg>
    </button>
    <button class="btn header-btn" type="button">Buy now <span class="menu-span">></span></button>
    <div class="menu-container js-menu-container" id="mobile-menu">
      <button class="menu-toggle js-close-menu">
        <svg class="icon-close">
          <use href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
      <button class="menu-btn btn" type="button">Buy now <span class="menu-span">></span></button>
      <ul class="menu-list">
        <li class="menu-item"><a href="" class="menu-link">Home</a></li>
        <li class="menu-item"><a href="" class="menu-link">About us</a></li>
        <li class="menu-item"><a href="" class="menu-link">How it’s made?</a></li>
        <li class="menu-item"><a href="" class="menu-link">Our products</a></li>
        <li class="menu-item"><a href="" class="menu-link">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
