<section class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h1 class="hero-tittle">ice cream made with <span class="tittle-span">passion</span></h1>
      <div class="hero-btn">
        <button type="button" class="btn hero-btn-1">Products</button>
        <button type="button" class="btn hero-btn-2">How it’s made?</button>
      </div>
    </div>
    <div class="">
      <img
        class="hero-ellipse"
        srcset="
          ./images/Ellipse3-tablet-1x.png 324w,
          ./images/Ellipse3-mobile-1x.png 346w,
          ./images/Ellipse3-tablet-2x.png 648w,
          ./images/Ellipse3-mobile-2x.png 692w
        "
        sizes="(min-width: 1280px) 538px, (min-width: 768px) 324px, (min-width: 320px) 346px, 100vw"
        alt="backgroud-accent"
      />
      <img
        class="hero-icecream"
        srcset="
          ./images/slider-pic/slider-pic7-tablet-1x.png 143w,
          ./images/slider-pic/slider-pic7-mobile-1x.png 171w,
          ./images/slider-pic/slider-pic7-1x.png        236w,
          ./images/slider-pic/slider-pic7-tablet-2x.png 286w,
          ./images/slider-pic/slider-pic7-mobile-2x.png 324w,
          ./images/slider-pic/slider-pic7-2x.png        472w
        "
        sizes="(min-width: 1280px) 236px,(min-width: 768px) 143px, (min-width: 320px) 171px, 100vw"
        src="./images/slider-pic/slider-pic7-mobile-2x.png"
        alt="ice-cream"
      />
      <img
        class="hero-milk"
        srcset="
          ./images/slider-pic/slider-pic5-tablet-1x.png 124w,
          ./images/slider-pic/slider-pic5-tablet-2x.png 248w
        "
        sizes="(min-width: 1280px) 538px, (min-width: 768px) 324px, (min-width: 320px) 346px, 100vw"
        src="./images/slider-pic/slider-pic5-tablet-2x.png"
        alt="bottle of milk"
      />
      <!-- <img class="number-16" srcset="../images/" src="" alt="" /> -->
    </div>

    <!-- <picture class="hero-ellipse">
      <source
        media="(min-width: 320px), (max-width: 480px)"
        src="./images/Ellipse3-mobile-1x.png"
      />
    </picture> -->
  </div>
</section>
