<section class="section section-products">
    <div class="container">
        <ul class="produsts-list list">
            <li class="products-list__item item">
                <p class="pretitle-products__text title">100% natural</p>
                <h2 class="title section-products__title">products</h2>
                <div class="products-container">
                    <div class="product-img-box">
                        <img src="./images/home-pic/home-pic1-mobile-1x.png" alt="ice-cream" class="products-img">
                    </div>
                    <h3 class="products-title title">ice cream</h3>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <span class="products-icon"></span>
                    <button type="button" class="products-button"></button>
                </div>
            </li>
            <li class="products-list__item item">
                <div class="products-container products-container-brown">
                    <div class="product-img-box">
                        <img src="./images/home-pic/home-pic2-mobile-1x.png" alt="ice-cream" class="products-img">
                    </div>
                    <h3 class="products-title title">ice cream</h3>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <span class="products-icon"></span>
                    <button type="button" class="products-button"></button>
                </div>
            </li>
            <li class="products-list__item item">
                <div class="products-container products-container-green">
                    <div class="product-img-box">
                        <img src="./images/home-pic/home-pic3-mobile-1x.png" alt="ice-cream" class="products-img">
                    </div>
                    <h3 class="products-title title">ice cream</h3>
                    <p class="products-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt
                        ut labore et. dolore magna
                        aliqua facilisis.</p>
                    <span class="products-icon"></span>
                    <button type="button" class="products-button"></button>
                </div>
            </li>
        </ul>
    </div>
</section>