.customer-reviews__section {
  @media screen and (max-width: 739px) {
    padding-top: 30px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding-top: 50px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 70px;
  }
}

.swiper {
  width: 100%;
  @media screen and (max-width: 405px) {
    min-height: 620px;
  }
  @media screen and (min-width: 406px) and (max-width: 767px) {
    min-height: 500px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    height: 490px;
  }
  @media screen and (min-width: 1280px) {
    height: 420px;
  }
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--pre-title-color);
  display: block;
}

.swiper-slide .slide {
  display: block;
  object-fit: cover;
}

.customer-reviews__image img {
  width: 85px;
  height: 85px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;
}

.customer-reviews__text {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100%;
}
.customer-reviews__title {
  font-family: DM Sans;
  font-weight: 500;
  text-align: center;
  line-height: 1.86;
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  border-radius: 5%;
  background-color: transparent;
  background-image: url(../images/rose-ice-cream.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/dark-ice-cream.png);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.swiper-pagination-bullet-active {
  width: 40px;
  height: 40px;
  border-radius: 5%;
  background-color: transparent;
  background-image: url(../images/dark-ice-cream.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/dark-ice-cream-2x.png);
  }
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slider-text-wrapper {
  background-color: var(--secondary-bg-color);
  padding: 44px 50px 16px;
  border-radius: 20px;
  &::before {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url('../images/kav.png');
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 25px;
    left: 25px;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      width: 50px;
      height: 50px;
      background-image: url('../images/kav-2x.png');
      content: '';
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 25px;
      left: 25px;
    }
    @media screen and (max-width: 767px) {
      top: 160px;
    }
  }
}

.slider-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  padding: 0 18px;
  background-image: repeating-linear-gradient(
    to top,
    var(--accent-bg-color) 0px 1px,
    transparent 1px 31px
  );
  text-align: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 740px;
  }

  .slider {
    width: 620px;
    margin: 0 auto;
    position: relative;
  }

  .slider-text-wrapper {
    padding: 47px 60px 27px;
    @media screen and (max-width: 405px) {
      padding: 47px 30px 27px;
    }
  }

  .slider-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1090px;
  }

  .slider {
    width: 926px;
  }

  .slider-text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px;
  }
}

.ice {
  margin-bottom: 15px;
}
