.hero {
  // border-top: 1px solid var(--accent-bg-color);
  background-color: var(--accent-bg-color);
  z-index: 1;
  height: 502px;
  @media screen and (min-width: 768px) {
    height: 399px;
  }
}

.hero-tittle {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--pre-title-color);
  max-width: 218px;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    max-width: 162px;
    font-size: 22px;
    line-height: 25px;
  }
}
.tittle-span {
  color: var(--accent-secondary-color);
  font-size: 48px;
  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 31px;
  }
}
.hero-text {
  top: 193px;
  left: 20px;
  position: absolute;
  z-index: 5;
  @media screen and (min-width: 768px) {
    top: 102px;
    left: 34px;
  }
}
.hero-container {
  position: relative;
  padding-top: 142px;
  padding-bottom: 160px;
  @media screen and (min-width: 768px) {
    padding-top: 15px;
  }
}
.hero-btn-1 {
  width: 62px;
  height: 24px;
  color: var(--pre-title-color);
  background-color: var(--accent-secondary-color);
  margin-right: 8px;
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  @media screen and (min-width: 1280px) {
    width: 102px;
    height: 40px;
    margin-right: 15px;
  }
}
.hero-btn-2 {
  width: 83px;
  height: 24px;
  color: var(--accent-secondary-color);
  background-color: var(--pre-title-color);
  font-family: DM Sans;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  @media screen and (min-width: 1280px) {
    width: 132px;
    height: 40px;
  }
}
.hero-icecream {
  position: absolute;
  z-index: 2;
  top: 92px;
  right: 32px;
  max-width: 171px;
  @media screen and (min-width: 768px) {
    height: 336px;
    width: auto;
    top: 63px;
    left: 378px;
  }
}
.hero-ellipse {
  position: absolute;
  z-index: 2;
  top: 83px;
  right: 0;
  height: 344px;
  width: auto;
  @media screen and (min-width: 768px) {
    height: 322px;
    width: auto;
    top: 39px;
    left: 297px;
  }
}
.hero-milk {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    position: absolute;
    height: 126px;
    width: auto;
    top: 245px;
    left: 0;
  }
}
